@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: left;
    /* color: black; */
    box-shadow: 2px 0px 5px black;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #757575;
}

.leftPart {
    width: 70%;
    background-color: #00FF19;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
}

.rightPart {
    width: 30%;
    background-color: black;
    /* border-radius: 5px; */

}

.headerText {
    font-family: 'Inter';
    width: 150px;
    TEXT-align: left;
    margin-left: 5px;
    font-size: 25px;
    font-weight: 400;
    cursor: default;
}

.rightText {
    color: #00FF19;
}

.leftText {
    color: black;
}

.info {
    display: flex;
    position: relative;
    text-align: center;
    gap: 40px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.info-pl,
.info-ua {
    cursor: pointer;
    text-decoration: underline 2px rgba(0, 0, 0, 0);
    text-underline-offset: 3px;
    transition: 200ms;
}


.info-pl:hover,
.info-ua:hover {
    /* text-decoration: underline; */
    text-decoration-color: rgba(0, 0, 0, 1);
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    flex-direction: column;
    align-items: center;
    gap: 89px;
    position: relative;
    
}

.cards {
    background-color: #D9D9D9;
    height: 500px;
    width: 500px;
    border-radius: 25px;  
    box-shadow: 2px 5px 10px black ; 
    text-align: center;
    display: flex; 
    justify-content: center;
    position: relative;
    
      
}

.cardText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 25px;
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

footer{
    width: 100%;
    background-color: #00FF19;
    font-size: 20px;
    height: 60px;
    text-align: center;
    margin-top: 89px;
    font-family: 'Inter';
    font-weight: 400;
    box-shadow: 0px -1px 20px black;
    border: 2px black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footerText{
    /* display: flex; */
}